/* css */

* {
    font-family: Arial, Helvetica,'Times New Roman',  sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
    background-color: transparent;
}

p {
    text-align: justify;
}

li {
    margin: auto;
}

ul{
    background-color: rgb(245, 245, 215);
    margin: 0px;
    padding: 0px;
}

html {
    display: table;
    margin: auto;
}

body {
    border-style: double;
    width: 200px;
    margin: 100px;
    height: auto;
    padding: 0px;
    display: block;
    vertical-align: middle;
    align-content: center;
    
}

p, a{
    text-align: center;
}

#tit {
    background-color: wheat;
}

.imagen {
    height: 200px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.cuerpo {
    border-color: black;
}

.titulo {
    color: black;
    font-weight: bold;
    text-align: center;
    margin: auto;
    padding: 10px;
}

.link {
    text-align: center;
    color: black;
    padding: 10px;
    font-weight: bold;
    display: block;
    margin: auto;
}

.link2 {
    color: blue;
    font-weight: bold;
}

.subtitulos {
    text-decoration: underline black;
    background-color: antiquewhite;
    text-align: center;
    font-weight: bold;
}


.lista {
    list-style-type: square;
}

.d12 {
    list-style-type:lower-roman;
}

#linkm {
    color: blue;
    text-align: left;
    font-weight: bold;
}